<a href="https://colab.research.google.com/github/marcelpinheiro/malum/blob/master/AmesHousing/HousePrices.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Downloading the dataset and installing packages <br> Baixando a base de dados e instalando pacotes.

In [25]:
!wget https://github.com/marcelpinheiro/malum/raw/master/AmesHousing/AmesHousing.xls
!pip install fancyimpute

--2020-07-09 20:22:33--  https://github.com/marcelpinheiro/malum/raw/master/AmesHousing/AmesHousing.xls
Resolving github.com (github.com)... 140.82.112.4
Connecting to github.com (github.com)|140.82.112.4|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://raw.githubusercontent.com/marcelpinheiro/malum/master/AmesHousing/AmesHousing.xls [following]
--2020-07-09 20:22:33--  https://raw.githubusercontent.com/marcelpinheiro/malum/master/AmesHousing/AmesHousing.xls
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 151.101.0.133, 151.101.64.133, 151.101.128.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|151.101.0.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 3001856 (2.9M) [application/octet-stream]
Saving to: ‘AmesHousing.xls.1’

AmesHousing.xls.1   100%[===================>]   2.86M  10.8MB/s    in 0.3s

2020-07-09 20:22:34 (10.8 MB/s) - ‘AmesHousing.xls.1’ saved [3001856/3001856]

Requirement already satisfied: fancyimpute in /usr/local/lib/python3.6/dist-packages (0.4.3)
Requirement already satisfied: six in /usr/local/lib/python3.6/dist-packages (from fancyimpute) (1.12.0)
Requirement already satisfied: np-utils in /usr/local/lib/python3.6/dist-packages (from fancyimpute) (0.5.12.1)
Requirement already satisfied: tensorflow in /usr/local/lib/python3.6/dist-packages (from fancyimpute) (2.2.0)
Requirement already satisfied: scikit-learn>=0.19.1 in /usr/local/lib/python3.6/dist-packages (from fancyimpute) (0.22.2.post1)
Requirement already satisfied: knnimpute in /usr/local/lib/python3.6/dist-packages (from fancyimpute) (0.1.0)
Requirement already satisfied: keras>=2.0.0 in /usr/local/lib/python3.6/dist-packages (from fancyimpute) (2.3.1)
Requirement already satisfied: numpy>=1.10 in /usr/local/lib/python3.6/dist-packages (from fancyimpute) (1.18.5)
Requirement already satisfied: scipy in /usr/local/lib/python3.6/dist-packages (from fancyimpute) (1.4.1)
Requirement already satisfied: cvxpy>=1.0.6 in /usr/local/lib/python3.6/dist-packages (from fancyimpute) (1.0.31)
Requirement already satisfied: future>=0.16 in /usr/local/lib/python3.6/dist-packages (from np-utils->fancyimpute) (0.16.0)
Requirement already satisfied: tensorboard<2.3.0,>=2.2.0 in /usr/local/lib/python3.6/dist-packages (from tensorflow->fancyimpute) (2.2.2)
Requirement already satisfied: termcolor>=1.1.0 in /usr/local/lib/python3.6/dist-packages (from tensorflow->fancyimpute) (1.1.0)
Requirement already satisfied: gast==0.3.3 in /usr/local/lib/python3.6/dist-packages (from tensorflow->fancyimpute) (0.3.3)
Requirement already satisfied: opt-einsum>=2.3.2 in /usr/local/lib/python3.6/dist-packages (from tensorflow->fancyimpute) (3.2.1)
Requirement already satisfied: grpcio>=1.8.6 in /usr/local/lib/python3.6/dist-packages (from tensorflow->fancyimpute) (1.30.0)
Requirement already satisfied: wheel>=0.26; python_version >= "3" in /usr/local/lib/python3.6/dist-packages (from tensorflow->fancyimpute) (0.34.2)
Requirement already satisfied: astunparse==1.6.3 in /usr/local/lib/python3.6/dist-packages (from tensorflow->fancyimpute) (1.6.3)
Requirement already satisfied: wrapt>=1.11.1 in /usr/local/lib/python3.6/dist-packages (from tensorflow->fancyimpute) (1.12.1)
Requirement already satisfied: google-pasta>=0.1.8 in /usr/local/lib/python3.6/dist-packages (from tensorflow->fancyimpute) (0.2.0)
Requirement already satisfied: keras-preprocessing>=1.1.0 in /usr/local/lib/python3.6/dist-packages (from tensorflow->fancyimpute) (1.1.2)
Requirement already satisfied: protobuf>=3.8.0 in /usr/local/lib/python3.6/dist-packages (from tensorflow->fancyimpute) (3.10.0)
Requirement already satisfied: absl-py>=0.7.0 in /usr/local/lib/python3.6/dist-packages (from tensorflow->fancyimpute) (0.9.0)
Requirement already satisfied: tensorflow-estimator<2.3.0,>=2.2.0 in /usr/local/lib/python3.6/dist-packages (from tensorflow->fancyimpute) (2.2.0)
Requirement already satisfied: h5py<2.11.0,>=2.10.0 in /usr/local/lib/python3.6/dist-packages (from tensorflow->fancyimpute) (2.10.0)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.6/dist-packages (from scikit-learn>=0.19.1->fancyimpute) (0.15.1)
Requirement already satisfied: keras-applications>=1.0.6 in /usr/local/lib/python3.6/dist-packages (from keras>=2.0.0->fancyimpute) (1.0.8)
Requirement already satisfied: pyyaml in /usr/local/lib/python3.6/dist-packages (from keras>=2.0.0->fancyimpute) (3.13)
Requirement already satisfied: multiprocess in /usr/local/lib/python3.6/dist-packages (from cvxpy>=1.0.6->fancyimpute) (0.70.10)
Requirement already satisfied: ecos>=2 in /usr/local/lib/python3.6/dist-packages (from cvxpy>=1.0.6->fancyimpute) (2.0.7.post1)
Requirement already satisfied: scs>=1.1.3 in /usr/local/lib/python3.6/dist-packages (from cvxpy>=1.0.6->fancyimpute) (2.1.2)
Requirement already satisfied: osqp>=0.4.1 in /usr/local/lib/python3.6/dist-packages (from cvxpy>=1.0.6->fancyimpute) (0.6.1)
Requirement already satisfied: requests<3,>=2.21.0 in /usr/local/lib/python3.6/dist-packages (from tensorboard<2.3.0,>=2.2.0->tensorflow->fancyimpute) (2.23.0)
Requirement already satisfied: google-auth<2,>=1.6.3 in /usr/local/lib/python3.6/dist-packages (from tensorboard<2.3.0,>=2.2.0->tensorflow->fancyimpute) (1.17.2)
Requirement already satisfied: setuptools>=41.0.0 in /usr/local/lib/python3.6/dist-packages (from tensorboard<2.3.0,>=2.2.0->tensorflow->fancyimpute) (47.3.1)
Requirement already satisfied: tensorboard-plugin-wit>=1.6.0 in /usr/local/lib/python3.6/dist-packages (from tensorboard<2.3.0,>=2.2.0->tensorflow->fancyimpute) (1.6.0.post3)
Requirement already satisfied: google-auth-oauthlib<0.5,>=0.4.1 in /usr/local/lib/python3.6/dist-packages (from tensorboard<2.3.0,>=2.2.0->tensorflow->fancyimpute) (0.4.1)
Requirement already satisfied: markdown>=2.6.8 in /usr/local/lib/python3.6/dist-packages (from tensorboard<2.3.0,>=2.2.0->tensorflow->fancyimpute) (3.2.2)
Requirement already satisfied: werkzeug>=0.11.15 in /usr/local/lib/python3.6/dist-packages (from tensorboard<2.3.0,>=2.2.0->tensorflow->fancyimpute) (1.0.1)
Requirement already satisfied: dill>=0.3.2 in /usr/local/lib/python3.6/dist-packages (from multiprocess->cvxpy>=1.0.6->fancyimpute) (0.3.2)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.6/dist-packages (from requests<3,>=2.21.0->tensorboard<2.3.0,>=2.2.0->tensorflow->fancyimpute) (2.9)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.6/dist-packages (from requests<3,>=2.21.0->tensorboard<2.3.0,>=2.2.0->tensorflow->fancyimpute) (3.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.6/dist-packages (from requests<3,>=2.21.0->tensorboard<2.3.0,>=2.2.0->tensorflow->fancyimpute) (2020.6.20)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.6/dist-packages (from requests<3,>=2.21.0->tensorboard<2.3.0,>=2.2.0->tensorflow->fancyimpute) (1.24.3)
Requirement already satisfied: cachetools<5.0,>=2.0.0 in /usr/local/lib/python3.6/dist-packages (from google-auth<2,>=1.6.3->tensorboard<2.3.0,>=2.2.0->tensorflow->fancyimpute) (4.1.0)
Requirement already satisfied: rsa<5,>=3.1.4; python_version >= "3" in /usr/local/lib/python3.6/dist-packages (from google-auth<2,>=1.6.3->tensorboard<2.3.0,>=2.2.0->tensorflow->fancyimpute) (4.6)
Requirement already satisfied: pyasn1-modules>=0.2.1 in /usr/local/lib/python3.6/dist-packages (from google-auth<2,>=1.6.3->tensorboard<2.3.0,>=2.2.0->tensorflow->fancyimpute) (0.2.8)
Requirement already satisfied: requests-oauthlib>=0.7.0 in /usr/local/lib/python3.6/dist-packages (from google-auth-oauthlib<0.5,>=0.4.1->tensorboard<2.3.0,>=2.2.0->tensorflow->fancyimpute) (1.3.0)
Requirement already satisfied: importlib-metadata; python_version < "3.8" in /usr/local/lib/python3.6/dist-packages (from markdown>=2.6.8->tensorboard<2.3.0,>=2.2.0->tensorflow->fancyimpute) (1.6.1)
Requirement already satisfied: pyasn1>=0.1.3 in /usr/local/lib/python3.6/dist-packages (from rsa<5,>=3.1.4; python_version >= "3"->google-auth<2,>=1.6.3->tensorboard<2.3.0,>=2.2.0->tensorflow->fancyimpute) (0.4.8)
Requirement already satisfied: oauthlib>=3.0.0 in /usr/local/lib/python3.6/dist-packages (from requests-oauthlib>=0.7.0->google-auth-oauthlib<0.5,>=0.4.1->tensorboard<2.3.0,>=2.2.0->tensorflow->fancyimpute) (3.1.0)
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.6/dist-packages (from importlib-metadata; python_version < "3.8"->markdown>=2.6.8->tensorboard<2.3.0,>=2.2.0->tensorflow->fancyimpute) (3.1.0)

### Loading database into pandas dataframe / Carregando base de dados em um dataframe do pandas

In [26]:
import pandas as pd
df = pd.read_excel('AmesHousing.xls')
df = df.drop(['Order','PID'],axis=1)
df

      MS SubClass MS Zoning  Lot Frontage  ...  Sale Type Sale Condition SalePrice
0              20        RL         141.0  ...        WD          Normal    215000
1              20        RH          80.0  ...        WD          Normal    105000
2              20        RL          81.0  ...        WD          Normal    172000
3              20        RL          93.0  ...        WD          Normal    244000
4              60        RL          74.0  ...        WD          Normal    189900
...           ...       ...           ...  ...        ...            ...       ...
2925           80        RL          37.0  ...        WD          Normal    142500
2926           20        RL           NaN  ...        WD          Normal    131000
2927           85        RL          62.0  ...        WD          Normal    132000
2928           20        RL          77.0  ...        WD          Normal    170000
2929           60        RL          74.0  ...        WD          Normal    188000

[2930 rows x 80 columns]

###Converting categorical featues into numeric / Convertendo features de categorias para números
Converting categorical features into numeric to be able to use the impute to empty data <br>
Convertendo features de categorias para números para ser possível o uso de impute para substituir valores vazios

In [27]:
df = df.copy()
df_categories = df.select_dtypes(include=['object']).columns
df[df_categories] = pd.Categorical(df[df_categories]).codes

df.isna().sum().sort_values(ascending=False)

Lot Frontage      490
Garage Yr Blt     159
Mas Vnr Area       23
Bsmt Full Bath      2
Bsmt Half Bath      2
                 ...
Kitchen Qual        0
TotRms AbvGrd       0
Functional          0
Fireplaces          0
MS SubClass         0
Length: 80, dtype: int64

### Using the fancyimpute package / Usando o pacote fancyimpute
Using this package will solve the problem of empty/nan values <br>
Utilizando este pacote irá resolver o problema de valores vazios/nan

In [28]:
#Preenchendo os valores nulos
from fancyimpute import SoftImpute
import numpy as np

X_filled_softimpute = SoftImpute().fit_transform(df.drop(['SalePrice'],axis=1).values)
# X_filled_softimpute 

data = X_filled_softimpute
data

[SoftImpute] Max Singular Value of X_init = 724920.162523
[SoftImpute] Iter 1: observed MAE=29.755180 rank=7
[SoftImpute] Iter 2: observed MAE=29.702339 rank=6
[SoftImpute] Iter 3: observed MAE=29.323936 rank=6
[SoftImpute] Iter 4: observed MAE=29.242943 rank=6
[SoftImpute] Iter 5: observed MAE=29.223536 rank=6
[SoftImpute] Iter 6: observed MAE=29.218707 rank=6
[SoftImpute] Iter 7: observed MAE=29.217480 rank=6
[SoftImpute] Stopped after iteration 7 for lambda=14498.403250

array([[  20.,   31.,  141., ..., 2010.,   40.,   39.],
       [  20.,   31.,   80., ..., 2010.,   40.,   39.],
       [  20.,   31.,   81., ..., 2010.,   40.,   39.],
       ...,
       [  85.,   31.,   62., ..., 2006.,   40.,   39.],
       [  20.,   31.,   77., ..., 2006.,   40.,   39.],
       [  60.,   31.,   74., ..., 2006.,   40.,   39.]])

In [29]:
#Number of nan values
print('Nan Values:',np.count_nonzero(np.isnan(data)))

Nan Values: 0

### Scale -1 to 1
To optmize de algorithm, we will convert all the data values to numbers between -1 to 1 <br>
Para otimizar o algorítmo, nós iremos converter todo os dados numéricos para números entre -1 e 1

In [30]:
from sklearn import preprocessing
min_max_scaler = preprocessing.MinMaxScaler()

x = data #returns a numpy array
x_scaled = min_max_scaler.fit_transform(x)
x = pd.DataFrame(x_scaled)

y = df['SalePrice'].values #returns a numpy array
y_scaled = min_max_scaler.fit_transform(y.reshape(-1,1))
y = pd.DataFrame(y_scaled)




# from sklearn.model_selection import train_test_split
# X_train, X_test = train_test_split(df,test_size=0.33, random_state=42)

# from sklearn.preprocessing import OneHotEncoder
# # Create the encoder.
# encoder = OneHotEncoder(handle_unknown="ignore")
# encoder.fit(X_train)    # Assume for simplicity all features are categorical.

# # Apply the encoder.
# X_train = encoder.transform(X_train)
# X_test = encoder.transform(X_test)

### Model selection by cross validation
Validando o melhor modelo a ser usado <br>
Validating the best model to be used

In [37]:
from sklearn.linear_model import ElasticNet, Lasso
from sklearn.model_selection import cross_val_score
model_list = [linear_model.LinearRegression,linear_model.ElasticNet, linear_model.Lasso]

for m in model_list:
  model = m()
  print(model,cross_val_score(model, x, y, cv=3))

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False) [0.85459284 0.80545135 0.78764691]
ElasticNet(alpha=1.0, copy_X=True, fit_intercept=True, l1_ratio=0.5,
           max_iter=1000, normalize=False, positive=False, precompute=False,
           random_state=None, selection='cyclic', tol=0.0001, warm_start=False) [-0.00126211 -0.01770987 -0.01204895]
Lasso(alpha=1.0, copy_X=True, fit_intercept=True, max_iter=1000,
      normalize=False, positive=False, precompute=False, random_state=None,
      selection='cyclic', tol=0.0001, warm_start=False) [-0.00126211 -0.01770987 -0.01204895]

### Split data/Dividindo os dados
Here i will split the data in train and test datasets <br>
Aqui eu irei dividir os dados em datasets de treino e teste

In [32]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(x, y, test_size=0.33, random_state=42)

### Linear regression
At this step the linear regression algorithm will be used to predict the price of a house. In the end it will be calculated the accuracy of the prediction using MSE (mean square error) and RMSE (root mean square error) <br>
Nesta etapa um algoritmo de linera regression será usado para prever o preço de uma casa. No fim será calculado a acurácia de predição usando MSE (mean square error) e RMSE (root mean square error)

In [33]:

import matplotlib.pyplot as plt
import numpy as np
from sklearn.linear_model import LinearRegression

linearRegressor = LinearRegression()
linearRegressor.fit(X_train, y_train)
yPrediction = linearRegressor.predict(X_test)


from sklearn.metrics import mean_squared_error


MSE = mean_squared_error(yPrediction,y_test)
RMSE = np.sqrt(MSE) 
print('MSE:',MSE,'RMSE:',RMSE)

MSE: 0.0019113340720569322 RMSE: 0.043718806846218164

In [34]:
res = pd.DataFrame()
pred = min_max_scaler.inverse_transform(yPrediction)
res['pred'] = pred[:,0]
res['test'] = min_max_scaler.inverse_transform(y_test)
res

              pred      test
0    186802.937645  161000.0
1    121829.675604  116000.0
2    222850.826117  196500.0
3    129491.378158  123600.0
4    142000.283897  126000.0
..             ...       ...
962  180596.705528  170000.0
963   55418.461859   72000.0
964  190591.407746  189500.0
965  219448.122040  207000.0
966  154979.010185  140000.0

[967 rows x 2 columns]